.App {
  text-align: center;
}

.App-logo {
  margin: 20px 0 0 0;
  height: 20vmin;
  pointer-events: none;
}

.active-tasks {
  padding: 10px;
  font-size: 20px;
  width: 320px;
  margin: 0 auto;
  background-color: #61dafb;
  color: #047fa1;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
